@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;500;600;700&display=swap');

:root{
    --font-roboto: 'Roboto Slab', sans-serif;
    --font-roboto2: 'Roboto', sans-serif;
    --color-green: #1A472A;
    --color-green-secondary: #2A623D;
    --color-green-light: #edf7f1;
    --color-grey: #5D5D5D;
    --color-grey-light: #AAAAAA;
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-red: #AE0001;
}

body{
    background-color: #EEEEEE;
}
